apipkg==1.5
astroid==2.1.0
atomicwrites==1.3.0
attrs==18.2.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==4.5.2
cycler==0.10.0
decorator==4.3.2
execnet==1.5.0
flake8==3.6.0
Flask==1.0.2
idna==2.8
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
more-itertools==6.0.0
mysql-connector-python==8.0.14
networkx==2.2
numpy==1.16.1
pep8==1.7.1
pluggy==0.8.1
protobuf==3.6.1
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pylint==2.2.2
pymongo==3.7.2
PyMySQL==0.9.3
pyparsing==2.3.1
pytest==4.3.0
pytest-cov==2.6.1
pytest-forked==1.0.2
pytest-xdist==1.26.1
python-dateutil==2.8.0
-e git+https://github.com/haruspring-jokt/practice-udemy-python3.git@00281fb43a89a9e61ea59f7536166f1a26aae669#egg=python_programming_demo_app&subdirectory=python_programming_demo_app-0.0.1
PyYAML==3.13
requests==2.21.0
six==1.12.0
soupsieve==1.7.3
SQLAlchemy==1.2.17
termcolor==1.1.0
urllib3==1.24.1
virtualenv==16.2.0
Werkzeug==0.14.1
wrapt==1.11.1
